#box{
    width: 650px;
    min-height: 130px;
    background-color: #1f252d;
    margin:200px auto;
    box-sizing: border-box;
}
#content{
    width: 560px;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
form input:first-child{
    background-color: #1f252d;
    color:#b0727d;
    border: none;
    border-bottom: 2px #b0727d solid;
    width: 450px;
    height: 40px;
    font-size: 18px;
    margin-right: 6px;
}
input::placeholder{
    color: #b0727d;
    
}
#submit{
    background-color: #d6403c;
    color: white;
    height: 30px;
    border: none;
    width: 90px;
    height: 40px;
    position: relative;
    bottom: -2px;
}
*{
     font-family: roboto; 
     /* text-decoration: line-through; */
}
ul {
    list-style-type: none;
    margin-right: 10px;
    padding: 0px;
}
ul li{
    margin:15px 0px;
}
span{
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    
}
a{
    text-decoration: none;
    color: white;
}
i{
    font-family: "Font Awesome 6 Free";
    color:#606266;
}
li:hover i{
    color: white;

}